<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.doctor.DoctorRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/doctor_register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.doctor.DoctorLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/doctor_Login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.patient.PatientRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/patient_register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>fourth</servlet-name>
<servlet-class>com.patient.PatientLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>fourth</servlet-name>
<url-pattern>/patient_Login</url-pattern>
</servlet-mapping>



</web-app>